{% extends 'base.html' %}

{% block content %}
{% for mess in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ mess }}
</div>
{% endfor %}
<div class="jumbotron jumbotron-fluid">
	<h1>Add Owner to the puppies</h1>
	<form novalidate method="POST" class="needs-validation">
		{{form.hidden_tag()}}
		{{form.ownername.label}}{{form.ownername(class='form-control col-md-6', required=True)}}
		{{form.puppy_id.label}}{{form.puppy_id(class='form-control col-md-6', required=True)}} <br/>
		{{form.submit()}}
	</form>
</div>
{% endblock %}